{% if logs_enabled and logs_provider == "splunk" and logs_splunk_token_secret_create %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ logs_splunk_token_secret_name }}
  namespace: {{ namespace }}
type: Opaque
stringData:
  token: "{{ logs_splunk_token }}"
{% else %}
# Splunk token secret not created by this chart.
{% endif %}
