{% if telemetry_enabled and telemetry_auth_secret_create %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ telemetry_auth_secret_name }}
  namespace: {{ namespace }}
type: Opaque
stringData:
  headers: "{{ telemetry_auth_header_name }}={{ telemetry_auth_token }}"
{% else %}
# Telemetry OTLP auth secret not created by this chart.
{% endif %}
