{% if istio_enabled and istio_ingress_enabled %}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ chart_name }}-ingress
  namespace: {{ namespace }}
spec:
  hosts:
    - "{{ istio_virtual_service_host }}"
  gateways:
{% if istio_gateway_create %}
    - {{ istio_gateway_namespace }}/{{ istio_gateway_name }}
{% else %}
    - {{ istio_gateway_ref }}
{% endif %}
  http:
    - match:
        - uri:
            prefix: "{{ istio_virtual_service_prefix }}"
      route:
        - destination:
            host: {{ chart_name }}.{{ namespace }}.svc.cluster.local
            port:
              number: {{ service_port }}
{% else %}
# Istio ingress virtual service disabled.
{% endif %}
