{% if logs_enabled and logs_provider == "grafana-cloud" and logs_grafana_cloud_auth_secret_create %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ logs_grafana_cloud_auth_secret_name }}
  namespace: {{ namespace }}
type: Opaque
stringData:
  username: "{{ logs_grafana_cloud_auth_user }}"
  token: "{{ logs_grafana_cloud_auth_token }}"
{% else %}
# Grafana Cloud auth secret not created by this chart.
{% endif %}
